

html {
    scroll-behavior: smooth;
}

h1{
    text-align: left;
}

h2{
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 20px;
    line-height: 1.6;
}

#navi1{
    background-color: black;
    opacity: 0.9;
}

#aboutMe{
    background-color: #002633;
    color: white;
    padding-top: 85px;
}


#aboutMe2{
    background-color: #002633;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutMeDetails2{
    padding-top: 50px;
    text-align: center;
}

#educationBackground{
    color: black;
    padding-top: 85px;
}

#educationBackgroundDetails{
    color: black;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 60px;
}

#workingExperience{
    background-color: #002633;
    color: white;
    padding-top: 85px;
}

#workingExperienceDetails{
    padding-top: 50px;
    text-align: center;
    background-color: #002633;
    color: white;
    padding-bottom: 60px;
}

#skills{
    padding-top: 85px;
}

#skillDetails{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 60px;
}

#contactMe{
    padding-top: 85px;
    background-color: #002633;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
  }